@font-face {
  font-family: CJNgaiHKS;
  src: url("/font/CJNgaiHKS.otf"); }
@font-face {
  font-family: kjr-krajidrid-xl-style;
  src: url("/font/kjr-krajidrid-xl-style.ttf"); }
[lang="zh-Hans"] .activity2-title {
  background-image: url("/image/locales/zh-Hans/pre-login-title.png"); }
[lang="zh-Hans"] .activity3-title {
  background-image: url("/image/locales/zh-Hans/invite-title.png"); }
[lang="zh-Hans"] .activity4-title {
  background-image: url("/image/locales/zh-Hans/share-title.png"); }
[lang="zh-Hans"] .activity5-title {
  background-image: url("/image/locales/zh-Hans/attention-title.png"); }
[lang="zh-Hans"] .share-info {
  background-image: url("/image/locales/zh-Hans/share/share-info.png"); }
[lang="zh-Hans"] .share-reward {
  background-image: url("/image/locales/zh-Hans/share/share-reward.png"); }

[lang="id"] .activity2-title {
  background-image: url("/image/locales/id/pre-login-title.png"); }
[lang="id"] .activity3-title {
  background-image: url("/image/locales/id/invite-title.png"); }
[lang="id"] .activity4-title {
  background-image: url("/image/locales/id/share-title.png"); }
[lang="id"] .activity5-title {
  background-image: url("/image/locales/id/attention-title.png"); }
[lang="id"] .share-info {
  background-image: url("/image/locales/id/share/share-info.png"); }
[lang="id"] .share-reward {
  background-image: url("/image/locales/id/share/share-reward.png"); }

[lang="th"] .activity2-title {
  background-image: url("/image/locales/th/pre-login-title.png"); }
[lang="th"] .activity3-title {
  background-image: url("/image/locales/th/invite-title.png"); }
[lang="th"] .activity4-title {
  background-image: url("/image/locales/th/share-title.png"); }
[lang="th"] .activity5-title {
  background-image: url("/image/locales/th/attention-title.png"); }
[lang="th"] .share-info {
  background-image: url("/image/locales/th/share/share-info.png"); }
[lang="th"] .share-reward {
  background-image: url("/image/locales/th/share/share-reward.png"); }
[lang="th"] .login-title .form-text {
  font-family: kjr-krajidrid-xl-style; }
[lang="th"] .share-wrapper {
  top: 17%; }
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    [lang="th"] .share-wrapper .share-link iframe {
      -webkit-transform: scale(1.9, 1.5) translate(0px, 6px);
      -ms-transform: scale(1.9, 1.5) translate(0px, 6px);
      transform: scale(1.9, 1.5) translate(0px, 6px); } }
  @media only screen and (max-width: 767px) and (min-width: 320px) {
    [lang="th"] .share-wrapper {
      top: 15%; }
      [lang="th"] .share-wrapper .share-button img {
        width: 65px; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  [lang="th"] .share-wrapper .share-link iframe {
    -webkit-transform: scale(1.9, 1.5) translate(0px, 6px);
    -ms-transform: scale(1.9, 1.5) translate(0px, 6px);
    transform: scale(1.9, 1.5) translate(0px, 6px); } }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  [lang="th"] .share-wrapper {
    top: 15%; }
    [lang="th"] .share-wrapper .share-button img {
      width: 65px; } }

.clearfix:before {
  display: table;
  content: ""; }
.clearfix:after {
  clear: both;
  display: table;
  content: ""; }

.lang-wrap {
  position: absolute;
  right: 20%;
  z-index: 5;
  top: 0; }

.lang-option {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background: #2A313B;
  padding: 10px;
  margin: 0 5px;
  color: #FFF;
  text-decoration: none; }

.title {
  height: 115px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-image: url("/image/page-title.png");
  background-size: contain; }

.activity-title {
  height: 100%;
  width: 100%;
  margin: 0 auto; }

.activity2-title {
  background-image: url("/image/locales/en/pre-login-title.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.activity3-title {
  background-image: url("/image/locales/en/invite-title.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.activity4-title {
  background-image: url("/image/locales/en/share-title.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.activity5-title {
  background-image: url("/image/locales/en/attention-title.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat; }

.lang-slickNav,
.slicknav_menu {
  display: none; }

.slicknav_menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
  opacity: 0.95;
  background-color: #333b46; }
  .slicknav_menu .slicknav_btn {
    float: left; }

.activity-contaniner {
  width: 100%;
  background-image: url("/image/container1-bg.png"); }

/*content*/
.activity-content {
  width: 100%;
  padding: 45px 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.activity1 .activity-content {
  width: 100%;
  height: 100%;
  padding: 0; }
.activity1 .youtube {
  position: absolute;
  top: 51.7%;
  left: 24.5%;
  width: 51.1%;
  height: 35.9%; }
  .activity1 .youtube > iframe {
    width: 100%;
    height: 100%; }
.activity1 .activity-content-list {
  position: relative;
  width: 100%;
  height: 100%; }

/* content body */
.activity2 .activity-content-list,
.activity3 .activity-content-list,
.activity4 .activity-content-list,
.activity5 .activity-content-list {
  position: relative;
  width: 100%;
  height: 100%; }

.activity-content img {
  width: 100%;
  height: 100%; }

/* login */
.activity2 .activity-content .login-input,
.activity2 .activity-content .pre-login-role {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block; }
.activity2 .activity-content .login-input {
  width: 50%;
  position: relative; }
.activity2 .activity-content .pre-login-role {
  width: 49%; }

.phone-input {
  width: 39%;
  margin-right: 1%; }

.mail-input {
  width: 54%; }

.privacy {
  padding: 0 5px;
  border-bottom: 1px solid #fff;
  cursor: pointer; }

.privacy-modal {
  height: 60%;
  width: 80%; }

.activity3.goal-0 .lock-icon, .activity3.goal-1 .lock-list1 ~ .lock-icon, .activity3.goal-2 .lock-list2 ~ .lock-icon, .activity3.goal-3 .lock-list3 ~ .lock-icon, .activity3.goal-4 .lock-list4 ~ .lock-icon, .activity3.goal-5 .lock-list5 ~ .lock-icon, .activity3.goal-6 .lock-list6 ~ .lock-icon {
  width: 5.4%;
  left: 4.7%;
  background-image: url("/image/lock-icon.png"); }
.activity3.goal-1 .lock-icon, .activity3.goal-2 .lock-icon, .activity3.goal-3 .lock-icon, .activity3.goal-4 .lock-icon, .activity3.goal-5 .lock-icon, .activity3.goal-6 .lock-icon {
  width: 6.5%;
  left: 4.1%;
  background-image: url("/image/unlock-icon.png"); }
.activity3 .activity-content-list {
  position: relative; }
  .activity3 .activity-content-list .lock-icon {
    position: absolute;
    top: 0;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 8%; }
    .activity3 .activity-content-list .lock-icon.lock-list1 {
      top: 11.2%; }
    .activity3 .activity-content-list .lock-icon.lock-list2 {
      top: 26%; }
    .activity3 .activity-content-list .lock-icon.lock-list3 {
      top: 41%; }
    .activity3 .activity-content-list .lock-icon.lock-list4 {
      top: 54.9%; }
    .activity3 .activity-content-list .lock-icon.lock-list5 {
      top: 69.6%; }
    .activity3 .activity-content-list .lock-icon.lock-list6 {
      top: 83.2%; }

/* share */
.share-text {
  position: absolute;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.share-info {
  width: 80%;
  height: 5%;
  background-image: url("/image/locales/en/share/share-info.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 3%; }

.share-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 13%; }
  .share-wrapper .share-button {
    cursor: pointer; }
    .share-wrapper .share-button img {
      height: auto;
      width: 150px; }
  .share-wrapper .share-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .share-wrapper .share-link iframe {
      height: 28px !important;
      width: 64px !important;
      -webkit-transform: scale(2.3, 1.8) translate(0px, 8px);
      -ms-transform: scale(2.3, 1.8) translate(0px, 8px);
      transform: scale(2.3, 1.8) translate(0px, 8px);
      opacity: 0.01; }

.share-reward {
  width: 80%;
  height: 6%;
  background-image: url("/image/locales/en/share/share-reward.png");
  background-position: center center;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  bottom: 8%;
  -webkit-transform: translate(-33%, 0);
  -ms-transform: translate(-33%, 0);
  transform: translate(-33%, 0); }

/* footer */
.footer-bg {
  padding-top: 105px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  color: #EEE;
  text-align: center;
  width: 100%;
  height: 225px;
  background-image: url("/image/page-footer.png"); }

.float-wrap {
  position: fixed;
  right: 0;
  text-align: center;
  top: calc(50% - 205px);
  width: 50px;
  z-index: 5; }

.float-line {
  top: 0;
  bottom: 5px;
  left: 24px;
  z-index: -1;
  border-left: 1.5px solid #63393a;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.link-top,
.link-footer {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #63393a; }

.link-top {
  margin-bottom: 25px; }

.link-bg {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  z-index: 5;
  border-radius: 50%;
  border: 2px solid #000; }
  .link-bg img {
    width: 100%;
    height: 100%; }

.link1,
.link2,
.link3,
.link4 {
  background-size: contain;
  margin-bottom: 25px; }

.formWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form-block {
  position: absolute;
  top: 2.8%;
  right: 19.2%;
  bottom: 5.4%;
  left: 5.2%;
  padding: 3%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form-text {
  font-family: "CHei2HKS";
  color: #FFF; }

.login-title {
  width: 100%; }
  .login-title .form-text {
    font-family: "CJNgaiHKS";
    font-style: italic;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 100%; }

[lang="th"] .login-title .form-text {
  padding-bottom: 0;
  padding-top: 0; }

.like-icon-wrap .like-button {
  position: relative;
  width: 30%; }
  .like-icon-wrap .like-button iframe {
    position: absolute;
    height: 20px !important;
    width: 40px !important;
    left: 0;
    top: 0;
    -webkit-transform: scale(3, 2.6) translate(14.5px, 7px);
    -ms-transform: scale(3, 2.6) translate(14.5px, 7px);
    transform: scale(3, 2.6) translate(14.5px, 7px);
    opacity: 0.01; }

.agree-input {
  margin-right: 5px;
  vertical-align: middle; }

.submit-btn-wrap {
  border: none;
  background-color: transparent; }
  .submit-btn-wrap .submit-btn {
    cursor: pointer; }

@media only screen and (max-width: 1024px) {
  .activity-content {
    width: 95%;
    padding: 20px 0;
    margin: 0 auto; }

  .float-wrap {
    display: none; }

  .footer-bg {
    height: 110px;
    padding-top: 50px; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .title {
    height: 80px; }

  .activity2 .activity-content .form-block .like-button {
    width: 100px; }
    .activity2 .activity-content .form-block .like-button iframe {
      -webkit-transform: scale(3.1, 2.5) translate(14px, 7px);
      -ms-transform: scale(3.1, 2.5) translate(14px, 7px);
      transform: scale(3.1, 2.5) translate(14px, 7px); }

  .share-wrapper .share-button img {
    width: 125px; }
  .share-wrapper .share-link iframe {
    -webkit-transform: scale(2.9, 2.5) translate(0px, 8px);
    -ms-transform: scale(2.9, 2.5) translate(0px, 8px);
    transform: scale(2.9, 2.5) translate(0px, 8px); } }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .title {
    height: 50px; }

  .lang-wrap {
    display: none; }

  .slicknav_menu {
    display: block; }

  body {
    padding-top: 49px; }

  .activity2 .activity-content .pre-login-role {
    display: none; }
  .activity2 .activity-content .login-input {
    width: 100%; }
  .activity2 .activity-content .form-block .like-button {
    width: 75px; }
    .activity2 .activity-content .form-block .like-button iframe {
      -webkit-transform: scale(2.4, 2) translate(12.4px, 5.5px);
      -ms-transform: scale(2.4, 2) translate(12.4px, 5.5px);
      transform: scale(2.4, 2) translate(12.4px, 5.5px); }

  .share-wrapper .share-button img {
    width: 80px; }
  .share-wrapper .share-link iframe {
    -webkit-transform: scale(1.2, 1) translate(0px, 1px);
    -ms-transform: scale(1.2, 1) translate(0px, 1px);
    transform: scale(1.2, 1) translate(0px, 1px); } }

/*# sourceMappingURL=style.css.map */
