<!DOCTYPE html>
html(lang=locales.language)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content=locales.description)
        meta(name="keywords" content=locales.keywords)
        meta(property="og:url" content=website)
        meta(property="og:type" content="website")
        meta(property="og:title" content=locales.title)
        meta(property="og:description" content=locales.description)
        meta(property="og:image" content=`${website}/image/og-image.jpg`)
        title #{locales.title}
        link(rel="shortcut icon", href="image/favicon.png", type="image/png")
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.0/normalize.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.25.0/sweetalert2.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css")
        link(rel="stylesheet", href="/style/style.css")
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-123694649-1")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.25.0/sweetalert2.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js")
        script.
            var privacy_unchecked = '#{locales.privacy_unchecked}';
        script(src="/js/index.js")

        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(src="/js/google-analytic.js")
    body
        .float-wrap
            .float-line
            .link-top
            .link-wrapper
                .link-bg.link1
                    a(href=facebookLink target="_blank")
                        img(src='/image/float-fb.png')
                .link-bg.link2
                    a(href=homeLink target="_blank")
                        img(src='/image/float-dimand.png')
                .link-bg.link3
                    a(href=iosLink target="_blank")
                        img(src='/image/float-ios.png')
                .link-bg.link4
                    a(href=androidLink target="_blank")
                        img(src='/image/float-android.png')
            .link-footer
        .lang-wrap.clearfix
            if availableLanguages.chinese
                a.lang-option(href="/?lang=cn") CN
            if availableLanguages.english
                a.lang-option(href="/?lang=en") EN
            if availableLanguages.indonesia
                a.lang-option(href="/?lang=id") ID
            if availableLanguages.thailand
                a.lang-option(href="/?lang=th") TH
        ul.lang-slickNav
            if availableLanguages.chinese
                li
                    a(href="/?lang=cn") CN
            if availableLanguages.english
                li
                    a(href="/?lang=en") EN
            if availableLanguages.indonesia
                li
                    a(href="/?lang=id") ID
            if availableLanguages.thailand
                li
                    a(href="/?lang=th") TH
        .activity1.activity-contaniner
            .activity-content
                .activity-content-list
                    img(src="/image/locales/" + locales.language + "/home.png")
                    .youtube
                        iframe(src=youtubeLink
                            frameborder="0"
                            allow="autoplay; encrypted-media")

        // pre-login
        .activity2.activity-contaniner
            .title
                .activity2-title.activity-title
            .activity-content
                .activity-content-list
                    form.login-input
                        input(type="hidden", name="_csrf" value=csrfToken)
                        img(src="/image/pre-login/pre-login-bg.png")
                        .form-block
                            .login-title
                                .form-text #{locales.login_form.login_title}
                            .like-icon-wrap
                                .form-text #{locales.login_form.step_1_title}
                                .like-button
                                    img(src="/image/like-button.png")
                                    iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FRebelOfRanger&width=50&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId"
                                        width="50"
                                        height="65"
                                        style="border:none;overflow:hidden"
                                        scrolling="no"
                                        frameborder="0"
                                        allowTransparency="true"
                                        allow="encrypeted-media")
                            .system-input-wrap
                                .form-text #{locales.login_form.step_2_title}
                                .formWrapper
                                    select.system-input(name="platform")
                                        option(value="ios") iOS
                                        option(value="android") Android
                            .mail-input-wrap
                                .form-text #{locales.login_form.step_3_title}
                                .formWrapper
                                    select.phone-input(name="country")
                                        option(value="MY") Malaysia
                                        option(value="SG") Singapore
                                        option(value="PH") Philippines
                                        option(value="IN") Indonesia
                                        option(value="TH") Thailand
                                    input.mail-input(type="text", name="identity")
                            .agree-input-wrap
                                input.agree-input(type="checkbox")
                                span.form-text #{locales.login_form.agree}
                                span.form-text.privacy #{locales.login_form.privacy_policy}
                            button.submit-btn-wrap(type="submit")
                                img.submit-btn(src="/image/locales/" + locales.language + "/pre-login/submit.png")
                    img.pre-login-role(src="/image/pre-login/pre-login-role.png")
        // invite
        div(class=`activity3 activity-contaniner ${goal}`)
            .title
                .activity3-title.activity-title
            .activity-content
                .activity-content-list
                    img(src="/image/locales/" + locales.language + "/invite/invite-detail.png")
                    .lock-list1.lock-icon
                    .lock-list2.lock-icon
                    .lock-list3.lock-icon
                    .lock-list4.lock-icon
                    .lock-list5.lock-icon
                    .lock-list6.lock-icon
        // share
        .activity4.activity-contaniner
            .title
                .activity4-title.activity-title
            .activity-content
                .activity-content-list
                    img(src="/image/locales/" + locales.language + "/share/share-detail.png")
                    .share-text.share-info
                    .share-wrapper
                        .share-button
                            img(src="/image/share-button.png")
                        .share-link
                            iframe(src="https://www.facebook.com/plugins/share_button.php?href=" + encodeURIComponent(website) + "&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId",
                            width='73',
                            height='28',
                            style='border:none;overflow:hidden',
                            scrolling='no',
                            frameborder='0',
                            allowtransparency='true',
                            allow='encrypted-media'
                        )
                    .share-text.share-reward
        // attention
        .activity5.activity-contaniner
            .title
                .activity5-title.activity-title
            .activity-content
                .activity-content-list
                    img(src="/image/locales/" + locales.language + "/attention/attention-detail.png")
                    img(src="/image/locales/" + locales.language + "/attention/attention-info.png")
        .footer-bg
            | COPYRIGHT © TITANSOFT PTE LTD
