<!DOCTYPE html>
html(lang=en)
    head
        meta(charset="UTF-8")
        meta(name="robots", content="none,nosnippet,noarchive")
        title Login
    body
        form(action="/api/get_result", method="post", autocomplete="off" )
            input(type="hidden", name="_csrf" value=csrfToken)
            div
                label(for="username") Username
                    input(type="text", id="username", name="username" required)
            div
                label(for="password") Password
                    input(type="password", id="password", name="password" required)
            div
                button(type="submit") Submit
