@font-face {
    font-family: CJNgaiHKS;
    src: url('/font/CJNgaiHKS.otf');
}

@font-face {
    font-family: kjr-krajidrid-xl-style;
    src: url('/font/kjr-krajidrid-xl-style.ttf');
}

$pageTitle: 'page-title.png';
$preLoginTitle: 'pre-login-title.png';
$inviteTitle: 'invite-title.png';
$shareTitle: 'share-title.png';
$attentionTitle: 'attention-title.png';
$container1Bg: 'container1-bg.png';
$lockIcon: 'lock-icon.png';
$unlockIcon: 'unlock-icon.png';
$shareInfo: 'share-info.png';
$shareReward: 'share-reward.png';
$pageFooter: 'page-footer.png';
[lang="zh-Hans"] {
    .activity2-title {
        background-image: url('/image/locales/zh-Hans/' + $preLoginTitle);
    }
    .activity3-title {
        background-image: url('/image/locales/zh-Hans/' + $inviteTitle);
    }
    .activity4-title {
        background-image: url('/image/locales/zh-Hans/' + $shareTitle);
    }
    .activity5-title {
        background-image: url('/image/locales/zh-Hans/' + $attentionTitle);
    }
    .share-info {
        background-image: url('/image/locales/zh-Hans/share/' + $shareInfo);
    }
    .share-reward {
        background-image: url('/image/locales/zh-Hans/share/' + $shareReward);
    }
}

[lang="id"] {
    .activity2-title {
        background-image: url('/image/locales/id/' + $preLoginTitle);
    }
    .activity3-title {
        background-image: url('/image/locales/id/' + $inviteTitle);
    }
    .activity4-title {
        background-image: url('/image/locales/id/' + $shareTitle);
    }
    .activity5-title {
        background-image: url('/image/locales/id/' + $attentionTitle);
    }
    .share-info {
        background-image: url('/image/locales/id/share/' + $shareInfo);
    }
    .share-reward {
        background-image: url('/image/locales/id/share/' + $shareReward);
    }
}

[lang="th"] {
    .activity2-title {
        background-image: url("/image/locales/th/" + $preLoginTitle);
    }
    .activity3-title {
        background-image: url("/image/locales/th/" + $inviteTitle);
    }
    .activity4-title {
        background-image: url("/image/locales/th/" + $shareTitle);
    }
    .activity5-title {
        background-image: url("/image/locales/th/" + $attentionTitle);
    }
    .share-info {
        background-image: url("/image/locales/th/share/" + $shareInfo);
    }
    .share-reward {
        background-image: url("/image/locales/th/share/" + $shareReward);
    }
    .login-title {
        .form-text {
            font-family: kjr-krajidrid-xl-style;
        }
    }
    .share-wrapper {
        top: 17%;
        @media only screen and (max-width: 1023px) and (min-width: 768px) {
            .share-link iframe {
                -webkit-transform: scale(1.9, 1.5) translate(0px, 6px);
                -ms-transform: scale(1.9, 1.5) translate(0px, 6px);
                transform: scale(1.9, 1.5) translate(0px, 6px);
            }
        }
        @media only screen and (max-width: 767px) and (min-width: 320px) {
            top: 15%;
            .share-button img {
                width: 65px;
            }
        }
    }
    @media only screen and (max-width: 1024px) {
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .share-wrapper {
            .share-link iframe {
                -webkit-transform: scale(1.9, 1.5) translate(0px, 6px);
                -ms-transform: scale(1.9, 1.5) translate(0px, 6px);
                transform: scale(1.9, 1.5) translate(0px, 6px);
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        .share-wrapper {
            top: 15%;
            .share-button img {
                width: 65px;
            }
        }
    }
}